/*
  Built Mobile First: All Generic sizing and layouts are placed in main part of CSS. 
  All sizing and layout changes specific to screen sizes is down in media-query area.
  All color based things are seperate to allow for tweaking later out.
*/

/**********************************
GENERAL
***********************************/
.intro-section{
  background: url(http://i482.photobucket.com/albums/rr186/yourqueennocrown/HNCK9042_zps9oxbmkyd.jpg) no-repeat center;
  background-size: cover;
  background-color: #FFA383;
  
  
}

.thumbnail_image{
  max-height:300px;
  max-width:2000px;
}

.thumbnailimage{
  max-height:300px;
  max-width:300px;
  
}

.page-scroll{
  background-color:#E4AAF7;
}

.thumbnail_img{
  max-height:600px;
  max-width:500px;
  
}

.thumbnail_imn{
  max-height:600px;
  max-width:300px;
  align:;
}

.thumbnail_facebook{
  max-height:300px;
  max-width:200px;
}

/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/


/**********************************
MAIN CONTENT
***********************************/


/**********************************
FOOTER - Layout and Sizing
***********************************/


/**********************************
PAGE: _______
***********************************/



/**********************************
FONTS
***********************************/



/**********************************
COLORS and BACKGROUNDS
Color 1:
Color 1:
Color 1:
Color 1:
Color 1:
***********************************/